$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;

* {
  margin: 0;
  padding: 0;
}
body {
  background: #c4c4c4;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    opacity: 0.8;
  }
  display: block;
}
p {
  margin-bottom: 10px;
}
h1 {
  text-transform: capitalize;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}

.header {
  background: #ef5350;
  height: 50px;
}

.container {
  padding: 0 30px;
  max-width: 1408px;
  margin: 0 auto;
}

.main-content {
  .container {
    background: #fff;
    min-height: calc(100vh - 50px);
  }
  &__inner {
    padding: 15px 0;
  }
}
.pokemons-filter {
  margin-bottom: 20px;
}
.pagination {
  display: flex;
  li {
    display: block;
    margin-right: 10px;
    padding: 10px;
    &.active {
      background: #ef5350;
      color: #fff;
    }
    &:not(.active) {
      cursor: pointer;
    }
  }
  .arrows {
    display: none;
  }
}
.input {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  padding: 5px;
  border: none;
}

.pokemon-image {
  display: block;
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 100%;
  &_inlist {
    background-position: center;
    background-color: #616161;
    height: 250px;
    @media screen and (max-width: $breakpoint-tablet) {
      height: 150px;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      height: 125px;
    }
  }
  &_indetails {
    // width: cover;
    background-size: contain;
    height: 250px;
    @media screen and (max-width: $breakpoint-tablet) {
      height: 150px;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      height: 125px;
    }
  }
}

.pokemons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  // justify-content: space-between;
  &__pokemon {
    width: 20%;
    @media (max-width: $breakpoint-tablet) {
      width: 25%;
    }
    @media (max-width: $breakpoint-mobile) {
      width: 50%;
    }
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  &__name {
    background: #232323;
    color: #fff;
    text-transform: capitalize;
    // font-size: 18px;
    line-height: 28px;
    padding: 15px;
  }
}

.pokemon-details {
  max-width: 1024px;
  margin: 0 auto;
  &__params {
    background: #30a7d7;
    @media (max-width: $breakpoint-mobile) {
      margin-top: 20px;
    }
  }
  &__main {
    display: flex;
    @media (max-width: $breakpoint-mobile) {
      display: block;
    }
  }
  &__column {
    width: 50%;
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }
  .characteristics {
    &__item {
      display: block;
      margin-bottom: 10px;
    }

    &__item-title {
      color: #fff;
      margin-bottom: 5px;
    }
  }
  .abilities {
    display: flex;
    &__item {
      padding: 10px;
      background: #ef5350;
      border-radius: 8px;
      margin-right: 10px;
      color: #fff;
      text-decoration: none;
    }
  }

  .characteristics {
    display: flex;
    &__column {
      width: 50%;
      @media (max-width: $breakpoint-tablet) {
        width: 100%;
      }
      padding: 10px;
    }
  }
}

.bo-back-button {
  padding: 10px;
  background: #ef5350;
  border-radius: 8px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
  font-weight: bold;
  cursor: pointer;
}
